{{ form_start(form) }}
<div class="row form-group">
    <div class="col-6 mt-3">{{ form_row(form.categorie) }}</div>
    <div class="col-6 mt-3">{{ form_row(form.nom) }}</div>
    <div class="col-6 mt-3">{{ form_row(form.montant) }}</div>
    <div class="col-6 mt-3">{{ form_row(form.stock) }}</div>
</div>
    {{ form_widget(form) }}
<div class="text-end mt-5">
    <a href="{{ path('app_produit_index') }}" class="btn btn-outline-secondary">Annuler</a>
    <button class="btn btn-warning">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
