{{ form_start(form) }}
<div class="mb-3">{{ form_row(form.type) }}</div>
<div class="mb-3">
    {{ form_row(form.nom) }}
</div>
    {{ form_widget(form) }}

<div class="text-end mt-5">
    <a href="{{ path('app_fournisseur_index') }}" class="btn btn-outline-secondary">Annuler</a>
    <button class="btn btn-warning">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
